<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logoml">
            <img src="/images/logo-mercado-liebre.svg" alt="">
        </div>
        <div class="barrabusqueda">
            Lugar para poner la barra de busqueda
        </div>
        <div class="compras">
            Comprá en cuotas y sin tarjeta de credito
        </div>
        <div class="barranavegar">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tienda Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Crea tu cuenta</a></li>
                <li><a href="">Ingresa</a></li>
                <li><a href="">Mis Compras</a></li>
            </ul>
        </div>



    </header>

</body>
</html>