<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/4fea1b8ebf.js" crossorigin="anonymous"></script>
    <title>Mercardo Liebre</title>
</head>
<body>
    <header class="main-header">
        <div class="top-header">
        <div class="first-line">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo"></a>
            <form class="barra-busqueda" action="/" method="get">
                <label></label>
                <input type="text" class="buscador" id="busqueda" name="busqueda" placeholder="Buscar productos, marcas"> <i class="fa-solid fa-magnifying-glass"></i> </input>
            </form>
        </div>
            <h2 class="header-right">
                <i class="fa-solid fa-hand-holding-dollar"></i> 
                Comprá en cuotas y sin tarjeta de credito
            </h2>
        </div>
        <a href="#" class="hamb-button">
            <i class="fa-solid fa-bars"></i>
        </a>
        
        <nav class="barranavegar">
            <ul class="left-nav">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tienda Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="right-nav">
                <li><a href="/Views/register.html">Crea tu cuenta <i class="fa-regular fa-address-card"></i> </a></li>
                <li><a href="/Views/login.html">Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i> </a></li>
                <li><a href="">Mis Compras <i class="fa-solid fa-basket-shopping"></i> </a></li>
            </ul>
        </nav>
    </header>
    <main class="mainn">
        <div class="banner">
            <img src="/images/home-banner.jpg" class="img-banner">
        </div>
        <h3 class="titulo-ofertas">Ofertas</h3>
        <section class="ofertas123">
             
            <nav class="cafetera-oferta">
            <img src="/images/cafetera.jpg"></img>
            <div class="prueba4321">
            <p class="camiones-venta"><i class="fa-solid fa-truck"></i></p>
            <p class="precios">
                $6.770    <span>40% off</span>
            </p>
                <p class="descripcion">
                Cafetera Moulinex
            </p>
            </div>
        </nav>

        <div class="ocultando1">

            <nav class="macbook-oferta">
            <img src="/images/macbook-pro-2019.jpg"></img>
            <p class="camiones-venta"><i class="fa-solid fa-truck"></i></p>
            <p class="precios">
                $230.000   <span>20% off</span>
            </p>
            <p class="descripcion">
                MacBook Pro 2019
            </p>
            </nav>
        </div>
        
        <div class="ocultando2">
            <nav class="celular-oferta">
            <img src="/images/samsung-galaxy-s10.jpg"></img>
            <p class="camiones-venta"><i class="fa-solid fa-truck"></i></p>
            <p class="precios">
                $70.500     <span>10% off</span>
            </p>
            <p class="descripcion">
                Samsung Galaxy S10
            </p>
            </nav>
       
            <nav class="tv-oferta">
            
            <img src="/images/tv-samsung-smart.jpg"></img>
            <p class="camiones-venta"><i class="fa-solid fa-truck"></i></p>
            <p class="precios">
                $23.200     <span>5% off</span>
            </p>
            <p class="descripcion">
                SmartTv Samsung 43"
            </p>
            </nav>
        </div>

        </section>
      
    </main>

    <footer>
        <div>
        <i class="fa-solid fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
            <p>
                Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>
        <div>
        <i class="fa-solid fa-gift"></i>
        <h4>Envio gratis desde los $ 2.500</h4>
            <p>
                Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </p>  
        </div>
        <div>
        <i class="fa-solid fa-user-shield"></i>
        <h4>Seguridad de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estas siempre protegid@.
            </p>
        </div>  

    </footer>
    <p class="marca-registrada">
        Copyright © 1999-2020 MercadoLiebre S.R.L.
    </p>


            <!-- <section class="ultima-visita">
        div.
        <h3>Basado en tu última visita</h3>
        
        <img class="cafetera" src="/images/cafetera.jpg" alt="">
        <i class="fa-solid fa-truck"></i>
        </img>
        <p class="precios">
            $6.770    <span>40% off</span>
        </p>
            <p class="descripcion">
            Cafetera Moulinex
        </p>
                
        <div class="prueba">  
        <img class="macbook" src="/images/macbook-pro-2019.jpg" alt="">
        <i class="fa-solid fa-truck"></i>
        </img>
        <p class="precios">
            $230.000   <span>20% off</span> 
        </p>
        <p class="descripcion">
            MacBook Pro 2019
        </p>
        </div>   
        <img class="celular" src="/images/samsung-galaxy-s10.jpg" alt="">
        <i class="fa-solid fa-truck"></i>
        </img>
        <p class="precios">
            $70.500     <span>10% off</span>
        </p>
        <p class="descripcion">
            Samsung Galaxy S10
        </p>
       
        <img class="tv" src="/images/tv-samsung-smart.jpg" alt="">
        <i class="fa-solid fa-truck"></i>
        </img>
        <p class="precios">
            $23.200     <span>5% off</span>
        </p>
        <p class="descripcion">
            SmartTv Samsung 43"
        </p>
       
        </section>
    -->

</body>
</html>