*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.main-header{
    background-color: #EAC926;
    padding: 20px;
}

.barra-busqueda i{
    background-color: #EAC926
}

.top-header {
    display: flex;
    flex-wrap: wrap;
}

.first-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a .logo {
    width: 70%;
    max-width: 1000px;
}

.buscador {
    width: 70%;
    border-radius: 0.4em;
    margin-left: 10px;
}

.fa-magnifying-glass {
    background-color: white;
    padding: 2px;
    display: block;
    color: gray;
    text-align: center;
    border-radius: 12%;
}

.header-right{
    font-weight: 400;
    text-align: center;
    font-size: 19px;
}

.hamb-button{
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 10%;
    text-align: center;
    font-size: 22px;
    margin: auto;
}

.mainn {
    text-align: center;
}

.fa-truck {
    color: #39b54a;
    border: solid 2px #39b54a;
    border-radius: 50%;
    font-size: 17px;
    padding: 3px;
    transition: transform 750ms;
}

.camiones-venta i:hover{
    transform: rotate(90deg);
}

h3 {
    font-size: 24px;
}

.ofertas123{
    background-color: #ebebeb;
}

section img {
    width: 65vw;
    height: 67vw;
    max-width: 215px;
    max-height: 220px;
    padding: 5px;
}

.descripcion,
.barranavegar {
    display: none;
}

section p {
    font-size: 16px;
}

.precios {
    font-size: 18px;
    line-height: 1px;
}

section nav {
    padding-top: 10px;
    border-top: 1px solid #ebebeb;
}

.prueba {
    border: 1px solid salmon;
}

nav p {
    text-align: left;
}

.banner,
.marca-registrada{
    background-color: #ebebeb
}

.img-banner {
    width: 100%;
}

.cafetera-oferta,
.macbook-oferta,
.celular-oferta,
.tv-oferta,
.titulo-ofertas {
    border: 15px solid #ebebeb;
    }

.titulo-ofertas {
    background-color:  #ebebeb;
    margin: 0%;
   }

footer {
    padding: 10px;
    text-align: center;     
}

footer h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

footer p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
}

.ocultando1,
.ocultando2 {
    display: none;
}

.fa-credit-card,
.fa-gift,
.fa-user-shield {
    color: #1259c3;
    font-size: 22px;
    margin-top: 15px;
    transition: transform 850ms;
}

.fa-credit-card:hover,
.fa-gift:hover,
.fa-user-shield:hover{
    color: #0022AA;
}

.main-login,
.main-registro,
footer{
    background-color:  #ebebeb;
    text-align: center;
}

.camiones-venta{
    margin-top: 3px;
    margin-left: 66%;
}

.usuario-login, .contraseña-login, .apellido-registro, .usuario-registro, .email-registro, .nacimiento-registro,
.domicilio-registro, .contenedor-radio, .contenedor-checkbox, .contraseña-registro, .boton-registro-contenerdor{
    padding-top: 35px;
}

.contraseña-login, .boton-login-padre, .boton-registro-contenerdor {
    padding-bottom: 40px;
}

.input-login, .input-registro{
    border: none;
}

.input-login, .boton-login, .input-registro, .boton-registro{
    width: 85%;
    border-radius: 5px;
    padding: 8px;
}

.boton-login, .boton-registro{
    background-color: #1259c3;
    color: white;
    font-weight: bold;
    
}

.boton-login-padre button{
    transition: transform 850ms;
}

.boton-login-padre button:hover{
    background-color: #0022AA;
}

.label{
    display: block;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: bold;
}

.marca-registrada{
    margin: 0%;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

@media (min-width: 500px){

    a .logo {
        width: 85%;
    }

    .top-header {
    flex-wrap: nowrap;
    align-items: center;
    }

    .first-line{
        margin: 0 0 0 10px;
    }

    .header-right{
        font-size: 16.5px;
    }

    .cafetera-oferta,
    .macbook-oferta,
    .celular-oferta,
    .tv-oferta,
    .titulo-ofertas {
        border: none;
        padding: 15px 0;
        }

    .cafetera-oferta img,
    .macbook-oferta img,
    .celular-oferta img,
    .tv-oferta img,
    .titulo-ofertas img {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        padding: 0
    }

    .descripcion,
    .precios{
        display: block;
        text-align: center;
        font-style: none;
        margin-right: 10px;
    }

    .camiones-venta{
        font-size: 15px;
        text-align: center;
        margin-left: 185px;
        margin-top: 2px;
    }

    .ocultando1 {
        display: block;
    }

    .ultima-visita span,
    .ofertas123 span {
        color: #39b54a;
    }

    .input-login, .boton-login, .input-registro, .boton-registro{
        max-width: 600px;
        border-radius: 6px;
        padding: 10px;
    }

    .contenedor-checkbox, .contenedor-radio{
        display: flex;
        justify-content: center;
    }
    
    .perfil-usuario, .intereses-usuario{
        margin-left: 6px;
        margin-top: 5px;
        font-size: 17px
    }

    .label{
        margin-right: 10px;
    }
     
}

@media (min-width: 770px){
        
    .main-header{
        padding: 25px 15px 35px 15px;
    }
    .top-header {
        align-items: center;
        justify-content: space-between;
    }

   .header-right{
        display: flex;
        max-width: 350px;
        text-align: right;
        font-size: 18px;
        justify-content: right;     
    }

    .barra-busqueda{
       width: 320px;
    }

    .img-banner{
        max-height: 130px;
    }

    .ocultando2 {
        display: flex;
    }

    .ofertas123{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #ebebeb;
    }

    .ofertas123 nav {
        margin-left: 70px;
        margin-right: 35px;
        margin-top: 7px;
        border-radius: 7px;
    }

    .cafetera-oferta img,
    .macbook-oferta img,
    .celular-oferta img,
    .tv-oferta img,
    .titulo-ofertas img {
        margin: 15px;
    }

    .barranavegar {
        display: flex;
        text-decoration: none;
        color: #222222;
        padding: 10px 0;
        font-size: 17px;
        justify-content: space-between;
    }

    .barranavegar ul {
        list-style: none;
        margin: 0;
        padding: 0%;
        display: flex;
    }

    .barranavegar li {
        margin: 0 2px;
    }

    .hamb-button{
        display: none;
    }

    .fa-credit-card,
    .fa-gift,
    .fa-user-shield {
    font-size: 28px;
    margin-top: 15px;
    }

    footer h4 {
        font-size: 20px;
    }

    footer p{
        font-size: 17px;
    }       
    
    .cafetera-oferta,
    .macbook-oferta,
    .celular-oferta,
    .tv-oferta{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .cafetera-oferta img,
    .macbook-oferta img,
    .celular-oferta img,
    .tv-oferta img {
        box-shadow: none;
    }

    .usuario-login,
    .contraseña-login{
        padding-top: 55px;
    }

    .contraseña-login,
    .boton-login-padre{
        padding-bottom: 55px;
    }

    .marca-registrada{
        padding: 25px;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 1px;
    }

}

@media (min-width: 960px){

    .barra-busqueda{
        text-align: end;
    }

    .header-right{
        max-width: 600px;
        font-size: 20px;
        margin: 0%;
    }

    .titulo-ofertas{
        letter-spacing: 1.5px;
        font-size: 28px;
    }

    footer{
        display: flex;
    }

    footer div {
        display: flex;
        flex-direction: column;
    }

    .fa-credit-card,
    .fa-gift,
    .fa-user-shield {
    font-size: 34px;
    }

    .marca-registrada{
        padding: 35px;
        font-size: 24px;
        letter-spacing: 2px;
    }

}


@media (min-width: 1200px){

    .top-header, .barranavegar {
        max-width: 1100px;
        margin: auto;
    }

    .logo {
        width: 240px;
    }

    .barranavegar {
        margin-top: 12px;
    }

    .barranavegar li {
        margin: 0 10px;
    }

    .barranavegar a {
       font-size: 18px;
    }

    .img-banner {
        min-height: 180px;
    }

    .cafetera-oferta{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .cafetera-oferta img  {
        box-shadow: none;
    }

    section img {
        max-width: 250px;
        max-height: 255px;
    }

    .ofertas123 {
        flex-wrap: nowrap;
    }

    .ofertas123 nav{
        margin: 8px;
    }
}
